.reveal .slides section{
    line-height: 1.5;
    font-size: 80%;
    letter-spacing: 0.05em;
 }
 .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    color: #D84315;
    test-align:center;
 }
 
 .reveal span.MathJax{
    color: #263238;
 }